Repository collinbarrett/FilterLists, pull requests merged in 2018-10, with the labels that each got.

#541 add async seeding in Main()
  src/FilterLists.Api/DependencyInjection/Extensions/IWebHostExtension.cs
  src/FilterLists.Api/FilterLists.Api.csproj
  src/FilterLists.Api/Program.cs
  src/FilterLists.Api/Startup.cs
  src/FilterLists.Data/Seed/Extensions/SeedFilterListsDbContext.cs
Labels: enhancement, feedback wanted

#542 Monday afternoon pull
  data/FilterList.json
  data/FilterListTag.json
Labels: data

#549 Monday night pull
  data/FilterList.json
  data/FilterListTag.json
Labels: data

#552 Monday night pull, part 2
  data/FilterListTag.json
Labels: data

#555 Tuesday morning pull
  data/FilterList.json
  data/FilterListLanguage.json
  data/License.json
Labels: data

#557 Tuesday evening pull
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
  data/License.json
  data/Software.json
  data/SoftwareSyntax.json
  data/Syntax.json
Labels: data

#558 Wednesday daytime pull
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/Maintainer.json
Labels: data

#559 Wednesday afternoon pull
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Maintainer.json
Labels: data

#562 Thursday daytime pull
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Maintainer.json
  data/Software.json
  data/SoftwareSyntax.json
Labels: data

#563 Friday afternoon pull
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/SoftwareSyntax.json
Labels: data

#565 Attempt to add 5 lists
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Maintainer.json
Labels: data

#579 Friday night pull
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#580 Add first unit test and run with Travis CI
  .travis.yml
  FilterLists.sln
  tests/FilterLists.Services.Tests/Extensions/AddIfNotNullOrEmptyShould.cs
  tests/FilterLists.Services.Tests/FilterLists.Services.Tests.csproj
Labels: ops

#597 Update FilterList.json
  data/FilterList.json
Labels: data

#599 Wednesday early morning pull
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
Labels: data

#601 Tuesday night pull
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#603 Update PornList
  data/FilterList.json
  data/FilterListTag.json
Labels: data

#605 Remove FIN-0 list due to breach of trust
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
Labels: data
