Repository collinbarrett/FilterLists, pull requests merged in 2018-08, with the labels that each got.

#338 Added 3 new lists and 2 software tools
  .github/README.md
  data/FilterList.json
  data/FilterListMaintainer.json
Labels: new list

#348 Some heavier brushup
  data/FilterList.json
  data/FilterListLanguage.json
  data/License.json
Labels: update list

#359 added EasyList Brasil
  data/FilterList.json
Labels: new list

#360 Author EasyList Brasil
  data/Maintainer.json
Labels: new list

#361 Language for EasyList Brasil
  data/FilterListLanguage.json
Labels: new list

#362 maintainer EasyList Brasil
  data/FilterListMaintainer.json
Labels: new list

#383 Thursday night pull
  data/FilterList.json
  data/FilterListTag.json
  data/Tag.json
Labels: data

#396 Saturday night pull
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
  data/Tag.json
Labels: data

#397 Update Polish Filterlists
  data/FilterList.json
  data/FilterListTag.json
Labels: data

#399 Update Polish FilterLists
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
Labels: data

#400 Fix viewUrl for KAD Whitelist
  data/FilterList.json
Labels: data
