Repository collinbarrett/FilterLists, pull requests merged in 2018-11, with the labels that each got.

#608 add URLhaus Malicious URL Blocklist
  data/FilterList.json
  data/FilterListTag.json
Labels: data

#609 Saturday night pull
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#610 Removing non-Origin uBlock from the software list
  data/Software.json
  data/SoftwareSyntax.json
Labels: data

#615 Monday night pull
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#613 add mirror links to urlhaus filter
  data/FilterList.json
Labels: data

#617 Updated Energized Protection Sources
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#621 return CHEF-KOCH
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Maintainer.json
Labels: data

#622 Removed AdGuard Personal Block List
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
Labels: data

#623 deleted dead links
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Merge.json
Labels: data, needs work

#625 For close #616
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#628 Adding 378 lists
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Maintainer.json
Labels: data

#627 remove some Notabug mirrors for #624
  data/FilterList.json
Labels: data, feedback wanted

#630 Crapblock Annoyances only with uBO/AdGuard
  data/FilterList.json
Labels: data

#632 crapblock annoyance syntax id
  data/FilterList.json
Labels: data
