Repository collinbarrett/FilterLists, pull requests merged in 2019-02, with the labels that each got.

#680 KAD has new home
  data/FilterList.json
  data/FilterListMaintainer.json
Labels: data

#682 fix #681correcting a typo
  data/FilterList.json
Labels: data

#683 Early February pull
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/SoftwareSyntax.json
  data/Syntax.json
Labels: data

#684 Update SteamScamSite and adding the light version of it.
  data/FilterList.json
Labels: data, needs work

#685 4 lists: anudeepND facebook; Phishing Army; TR-PhishingList URL List; TR-PhishingList IP List
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#686 fix #685
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
Labels: data

#689 404 Lists, again
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Fork.json
  data/Maintainer.json
Labels: data

#690 blank pages
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Merge.json
Labels: data

#691 Mid-February pull
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#692 Adding 6 new icons, take 2
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/SoftwareIcon.tsx
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/11-Hosts-File-Editor.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/17-Google-Hit-Hider-by-Domain.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/22-Diversion.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/23-dnsmasq.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/24-Slimjet.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/25-uMatrix.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/index.ts
Labels: bug, ui

#698 fix #693 + some bonus stuff
  data/Software.json
  data/SoftwareSyntax.json
  data/Syntax.json
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/SoftwareIcon.tsx
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/26-Blokada.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/27-hostsmgr.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/28-personalDNSfilter.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/index.ts
Labels: data

#699 mirrors removed
  data/FilterList.json
Labels: data

#700 Update FilterList.json
  data/FilterList.json
  data/FilterListTag.json
Labels: data
