Repository collinbarrett/FilterLists, pull requests merged in 2019-01, with the labels that each got.

#652 qwerty
  data/FilterList.json
Labels: data

#655 Thursday morning pull
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#658 fix #656
  data/FilterList.json
Labels: data

#659 Corrected various syntaxes
  data/FilterList.json
Labels: data

#660 404 lists CHEF-KOCH (COCK)
  data/FilterList.json
Labels: data

#661 Adding 6 new icons
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/SoftwareIcon.tsx
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/11-Hosts-File-Editor.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/17-Google-Hit-Hider-by-Domain.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/22-Diversion.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/23-dnsmasq.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/24-Slimjet.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/25-uMatrix.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/index.ts
Labels: enhancement, ui

#664 Revert "Adding 6 new icons"
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/SoftwareIcon.tsx
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/11-Hosts-File-Editor.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/17-Google-Hit-Hider-by-Domain.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/22-Diversion.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/23-dnsmasq.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/24-Slimjet.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/25-uMatrix.png
  src/FilterLists.Web/ClientApp/modules/home/components/softwareIcon/imgs/index.ts
Labels: enhancement, ui

#667 Resolving #666
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#672 added "Even cleaner news sites" list #663
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListTag.json
Labels: data

#673 fix #665
  data/FilterList.json
  data/FilterListTag.json
Labels: data

#674 added Web Annoyances Ultralist - CSS Style Modifying Filters
  data/FilterList.json
  data/FilterListTag.json
Labels: data

#675 NeoHosts and StopForumSpam fix #575 #577
  data/FilterList.json
  data/FilterListLanguage.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Maintainer.json
Labels: data

#676 Redone https://github.com/collinbarrett/FilterLists/pull/668
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
Labels: data

#677 Shallas Blacklists
  data/FilterList.json
  data/FilterListMaintainer.json
  data/FilterListTag.json
  data/Maintainer.json
Labels: data, needs work

#678 upd
  data/FilterList.json
Labels: data

#679 Replace some mirrors of StevenBlack's lists
  data/FilterList.json
Labels: blocked, data
